<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title th:text="#{screen.login.title}">登陆</title>
		<link rel="stylesheet" href="../static/plugins/layui/v2.0.2/css/layui.css" th:href="@{/plugins/layui/v2.0.2/css/layui.css}" media="all"/>
		<link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}"/>
	</head>
	<body>
		<div class="layui-container">
		    <div class="layui-row" style="margin-top: 10%;"></div>
		  	<div class="layui-row">
			  	<div class="layui-col-xs12 layui-col-sm-offset3 layui-col-sm6 login-form-div">
			  		<header>
				        <h1 th:text="#{screen.login.title}">后台登录</h1>
				    </header>
			  		<form class="layui-form" id="login_form">
			  			<div class="layui-form-item">
			                <label class="login-icon">
			                    <i class="layui-icon">&#xe612;</i>
			                </label>
			                <input class="layui-input input"
			                       type="text"
			                       id="username"
			                       name="username"
			                       th:placeholder="#{screen.login.placeholder.username}"
			                       lay-verify="required|username"
			                       placeholder="请输入用户名、邮箱或手机号"
			                       autocomplete="off"/>
			            </div>
			            <div class="layui-form-item">
			                <label class="login-icon">
			                    <i class="layui-icon">&#xe642;</i>
			                </label>
			                <input class="layui-input input"
			                       type="password"
			                       id="password"
			                       name="password"
			                       th:placeholder="#{screen.login.placeholder.password}"
			                       lay-verify="required"
			                       placeholder="请输入密码"
			                       autocomplete="off"/>
			            </div>
			            <div class="layui-form-item">
			                <div class="pull-left login-remember">
			                    <label th:text="#{screen.login.rember}">记住帐号?</label>
			                    <input type="checkbox" name="rememberMe" value="true" lay-skin="switch" checked title="记住帐号">
			                </div>
			                <div class="layui-clear"></div>
			            </div>
			            <div class="layui-form-item">
			            	 <button class="layui-btn layui-btn-primary" lay-submit lay-filter="login_form">
		                        <i class="layui-icon">&#xe650;</i><span th:text="#{screen.login.button.login}" style="padding-left:3px;">登录</span>
		                    </button>
			            </div>
			            <footer>
			            	<p><a href="?lang=zh_CN">中文(简体)</a>&#12288;<a href="?lang=zh_TW">中文(繁體)</a>&#12288;<a href="?lang=en_US">English</a></p>
							<p>Training © www.kaiser.cn</p>
						</footer>
			  		</form>
			  	</div>
		  	</div>
		</div>
		<!--[if lt IE 9]>
		  <script src="../static/plugins/html5.min.js" th:src="@{/plugins/html5.min.js}"></script>
		  <script src="../static/plugins/respond.min.js" th:src="@{/plugins/respond.min.js}"></script>
		<![endif]-->
		<script type="text/javascript" src="../static/plugins/layui/v2.0.2/layui.js" th:src="@{/plugins/layui/v2.0.2/layui.js}"></script>
		<script type="application/javascript" th:inline="javascript">
			layui.config({
			 	base: /*[[@{/js/}]]*/'../static/js/',
            	version: new Date().getTime()
			}).use(['form','layer','user'],function(){
				var form = layui.form
				,user = layui.user
				,$ = layui.jquery;
				//监听提交
				form.on('submit(login_form)', function(data){
					user.login('login_form');
				 	return false;
				});
			});
		</script>
	</body>
</html>
